<!-- About Section -->

<section class="mb-12" hx-trigger="load">
    <!-- Horizontal Line -->
    <div class="pt-10"></div>
    <hr class=" border-b-2 border-blue-500 w-5">

    <h1 class="text-3xl font-bold mb-4 text-blue-500">About</h1>
    <div class="flex">
        <!-- Picture -->
        <div class="w-1/2">
            <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                <rect width="100" height="100" fill="lightgray" rx="10" ry="10"/>
                <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="black" font-size="16">
                    Picture
                </text>
            </svg>
        </div>
        <!-- Text -->
        <div class="w-1/2 pl-4">
            <p class="text-gray-700 leading-relaxed">
                Hi, I'm Maksim, a dedicated GoLang developer with a passion for crafting exceptional web applications. I
                specialize in creating responsive and intuitive interfaces using HTMX and Tailwind CSS. My goal is to
                deliver clean and efficient code that ensures a seamless user experience.
            </p>
        </div>
    </div>
</section>