<style>

    @keyframes scrollAnimation {
        0% {
            opacity: 0;
            transform: translateX(-50%);
            filter: blur(5px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
            filter: blur(0);
        }
    }

    .animation {
        animation: scrollAnimation 0.5s ease-out forwards;
    }
</style>


<body class="bg-gray-800 text-gray-100">
<div class="text-center w-full">
    <h1 class="text-4xl lg:text-6xl animation" style="--order: 3;">About</h1>
</div>
<div class="max-w-screen-xl mt-24 px-8 grid gap-8 grid-cols-1 md:grid-cols-2 md:px-12 lg:px-16 xl:px-32 py-16
 mx-auto mb-32 bg-gray-100 text-gray-900 rounded-lg shadow-lg text-container animation" style="--order: 1;">
    <div class="flex flex-col justify-between ">
        <div>
            <h2 class=" text-4xl lg:text-5xl font-bold leading-tight
    ">Hi, I'm Maksim</h2>
            <div class="text-gray-700 mt-8">A dedicated GoLang developer with a passion for crafting exceptional web
                applications. I specialize in creating responsive and intuitive interfaces using HTMX and Tailwind CSS.
                My goal
                is to deliver clean and efficient code that ensures a seamless user experience.
            </div>
        </div>
    </div>
    <div class="w-1/2 flex justify-center picture-container animation" style="--order: 2;">
        <img src="/static/go-gopher-svgrepo-com.svg" alt="Go Gopher Image"
             class="max-h-96 max-w-96 object-cover rounded-md">
    </div>
</div>

<script>
    let observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('animate'); // Add animation class when element enters the viewport
            } else {
                entry.target.classList.remove('animate'); // Remove animation class when element exits the viewport
            }
        });
    }, {threshold: 0.5}); // Callback will be invoked when 50% of the observed element is visible

    let section = document.querySelector('.max-w-screen-xl');
    observer.observe(section);
</script>
</body>
