<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.5.0/dist/htmx.js"></script>

</head>
<body class="font-sans bg-gray-100">
{{ template "header.html" . }}
<div class="container mx-auto mt-8 px-4">

    {{ template "tools.html" . }}
    <!-- Tools -->

    <!-- About Section -->
    {{ template "about.html" . }}

    <!-- Projects Section -->
    {{ template "projects.html" . }}

    <!-- Calculator Section -->
    {{ template "calculator.html" . }}

    <!-- Contact Section -->
    {{ template "contact.html" . }}

</div>
</body>
</html>
