<manawave-marquee speed="1" direction="360" autoplay>
    <div class="rounded-full border-2 p-2 inline-block mr-2 bg-white text-gray-700">Docker</div>
    <div class="rounded-full border-2 p-2 inline-block mr-2 bg-white text-gray-700">AWS</div>
    <div class="rounded-full border-2 p-2 inline-block mr-2 bg-white text-gray-700">S3</div>
    <div class="rounded-full border-2 p-2 inline-block mr-2 bg-white text-gray-700">Linux</div>
    <div class="rounded-full border-2 p-2 inline-block mr-2 bg-white text-gray-700">Network</div>
</manawave-marquee>
<script defer src="https://cdn.jsdelivr.net/npm/manawave@0.11.1/dist/manawave.min.js"></script>