<div class="pt-2"></div>
<hr class="border-b-2 border-blue-500 w-5">
<h1 class="text-3xl font-bold mb-4 text-blue-500">Tools</h1>
<manawave-marquee speed="1" direction="360" autoplay>
    <div class="rounded-full border-2 p-2 inline-block mr-2 bg-white text-gray-700">Docker</div>
    <div class="rounded-full border-2 p-2 inline-block mr-2 bg-white text-gray-700">AWS</div>
    <div class="rounded-full border-2 p-2 inline-block mr-2 bg-white text-gray-700">Linux</div>
    <div class="rounded-full border-2 p-2 inline-block mr-2 bg-white text-gray-700">Network</div>

</manawave-marquee>
<script defer src="https://cdn.jsdelivr.net/npm/manawave@0.11.1/dist/manawave.min.js"></script>